.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  word-break: break-all;
}
input[type="text"],
input[type="password"],
select {
  outline: none;
  
  padding: 5px 0px;
}

input[type="number"] {
  outline: none;
}
:disabled{
  color: rgb(171, 170, 170);
}
.shad,.formshad{
  box-shadow: rgba(105, 105, 105, 0.236) 0px 50px 100px -20px, rgb(193, 193, 193) 0px -30px 60px -40px;
}


 /* .home-icon circle  {
  background-color: red;
  fill: red;
  stroke: red;
  stroke-width: 2px;
 } */
/*
input.error {
  border-color: red;
}


.info{
  word-break: break-all; 
  height: 100px;

}
textarea{
  border: 1px solid gray;
   border-radius: 7px;
}
p{
  word-break: break-all; 

}
.upButton button{
  background-color: rgb(96, 207, 251);
  color: whitesmoke;
  padding:4px;
  font-size: x-large;
  border-radius: 6px;
  cursor: pointer;

}
*/
textarea::-webkit-scrollbar {
  width: 20px;
}
textarea::-webkit-scrollbar-track {
  background-color: transparent;
}
textarea::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
